{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> <br/>Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_story"> Add your Story here</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Title of the story</th>
      <th>Author</th>
      <th>Written Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article.id}}</td>
        <td>{{article.title}}</td>
        <td>{{article.author}}</td>
        <td>{{article.create_date}}</td>
        <td><a href="edit_story/{{article.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_story', id=article.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
